body{
  font-family: 'Vollkorn', sans-serif;
  position: relative;
}

.container{
  max-width: 1000px;
}

#backgroundVideo{
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  z-index: -100;
}

#home{
  text-align: center;
  color: white;
  padding-top: 15%;
  padding-bottom: 50px;
}

#home h1{
  margin-bottom: 30px;
}

#home h2{
  margin-bottom: 50px;
}

#home .btn{
  background-color: rgb(29, 167, 179);
  color: white;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 8px;
}


#home .btn:hover{
  background-color: rgba(29, 167, 179, 0.5);
}

#about{
  color: white;
  text-align: center;
  padding-top: 100px;
}

#about h2{
  font-weight: bold;
}

#about p{
  font-size: 17px;
  margin-bottom: 30px;
}

.aboutImages{
  height: 120px;
}

#promise{
  padding-top: 140px;
}

#myCarousel{
  width: 60%;
  margin: 0 auto;
}

.carousel-inner .carousel-item img{
  height: 400px;
  margin: 0 auto;
}

.carousel-caption{
  color: white;
  padding-top: 50px;
  position: relative;
  left: auto;
  right: auto;
  height: 150px;
}

.footer{
  background-color: rgba(29, 167, 179, 0.1);
  color: white;
  font-size: 15px;
  padding: 10px 0;
  margin-top: 150px;
}

/*  Styling the components for different screen sizes */
@media (max-width: 768px){
  .carousel-inner .carousel-item img{
    height: 300px;
  }

  .carousel-inner h2{
    font-size: 23px;
  }
}

@media (max-width: 400px){
  .carousel-inner .carousel-item img{
    height: 200px;
  }

  .carousel-inner h2{
    font-size: 17px;
  }

  .navbar-brand{
    font-size: 12px;
  }
}

/*  Styling for the Nav Bar */
.navbar-custom {
  font-size: 18px;
  background-color: #1b3759;
  border-color: #132740;
}
.navbar-custom .navbar-brand {
  color: #fff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > li > a {
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #132740;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #13263e;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #132740;
  color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #c0c0c0;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #132740;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #c0c0c0;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}
